.nav {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: $main-bg-orange;

  &__logo {
    margin-left: 20px;
  }

  &__ul {
    display: flex;
    width: 40%;
    justify-content: space-around;

    &__list-item {
      text-transform: uppercase;
      list-style-type: none;

      &--link {
        text-decoration: none;
        color: #000;
      }

      &--btn {
        border: none;
        padding: 6px 12px;
      }
    }
  }
}
